<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center">{{title}}</h1>
    <p>Tested on: {{date}}</p>
    <p>Tested by: {{user}}</p>
    <p>Tested on: {{url}}</p>
    <p>Tested on: {{browser}}</p>
    <p>Tested on: {{device}}</p>
    <p>Tested on: {{os}}</p>
    <p>Tested on: {{ip}}</p>
  </div>
</body>
</html>